[data-mod-theme=light]{--mod-background:#ffffff;--mod-background-rgb:255,
    255,
    255;--mod-neutral-0:#000000;--mod-neutral-0-rgb:0,
    0,
    0;--mod-neutral-1:#111111;--mod-neutral-1-rgb:17,
    17,
    17;--mod-neutral-2:#222222;--mod-neutral-2-rgb:34,
    34,
    34;--mod-neutral-3:#333333;--mod-neutral-3-rgb:51,
    51,
    51;--mod-neutral-4:#444444;--mod-neutral-4-rgb:68,
    68,
    68;--mod-neutral-5:#555555;--mod-neutral-5-rgb:85,
    85,
    85;--mod-neutral-6:#666666;--mod-neutral-6-rgb:102,
    102,
    102;--mod-neutral-7:#777777;--mod-neutral-7-rgb:119,
    119,
    119;--mod-neutral-8:#888888;--mod-neutral-8-rgb:136,
    136,
    136;--mod-neutral-9:#999999;--mod-neutral-9-rgb:153,
    153,
    153;--mod-neutral-a:#aaaaaa;--mod-neutral-a-rgb:170,
    170,
    170;--mod-neutral-b:#bbbbbb;--mod-neutral-b-rgb:187,
    187,
    187;--mod-neutral-c:#cccccc;--mod-neutral-c-rgb:204,
    204,
    204;--mod-neutral-d:#dddddd;--mod-neutral-d-rgb:221,
    221,
    221;--mod-neutral-e:#eeeeee;--mod-neutral-e-rgb:238,
    238,
    238;--mod-neutral-f:#ffffff;--mod-neutral-f-rgb:255,
    255,
    255;--mod-brand:#6150FD;--mod-brand-rgb:97,
    80,
    253;--mod-info:#3A7BFC;--mod-info-rgb:58,
    123,
    252;--mod-success:#04CB8C;--mod-success-rgb:4,
    203,
    140;--mod-warning:#FFD026;--mod-warning-rgb:255,
    208,
    38;--mod-danger:#e02727;--mod-danger-rgb:224,
    39,
    39}body[data-mod-theme=light]{background:var(--mod-background);color:var(--mod-neutral-1)}a:not(.mod-button){color:inherit;text-decoration:underline;text-decoration-thickness:1px;text-underline-offset:3px}a:not(.mod-button),a:not(.mod-button):hover{text-decoration-color:var(--mod-neutral-a)}code:not(pre code){background:var(--mod-neutral-e)}